# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Data (groß / generiert)
data/raw/
output/plots
data/rawdata
# Generierte ML-Tabellen > GitHubs 100 MB Limit
data/processed/*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env / Secrets
.env